In [15]:
test1 = "Zombie stories are life lessons for boys who don't mind thinking about bodies, but can't cope with emotions. \
Vampire stories are in many ways sex for the squeamish."

In [16]:
test1=test1.split(' ')
print(test1)

['Zombie', 'stories', 'are', 'life', 'lessons', 'for', 'boys', 'who', "don't", 'mind', 'thinking', 'about', 'bodies,', 'but', "can't", 'cope', 'with', 'emotions.', 'Vampire', 'stories', 'are', 'in', 'many', 'ways', 'sex', 'for', 'the', 'squeamish.']

In [19]:
a= test1[test1.index('Zombie')]
print(a)

Zombie

In [21]:
b = test1[test1.index('Vampire')]
print(b)

Vampire

In [22]:
c=(test1[test1.index('boys')])
print(c)

boys

In [33]:
str1="Oh! {},please don't fear {} and {}".format(c,a,b)
str1

"Oh! boys,please don't fear Zombie and Vampire"

In [17]:
List = [23, 'red', 3, ['15', 'apple', [3, '3.5']], '27', [90, 'fight']]

In [18]:
List[0]+int(List[3][0])+List[2]+float(List[3][2][1])+List[3][2][0]+int(List[4])+List[5][0]

164.5

In [54]:
dicT = {'1': ['Jay','M',170] , '2':['Bill', 'M', 189] , '3':['Alice','F',160] , '4':['May','F',158] , '5':['Max','M',185] , '6':['Ann','F',148] , '7':['Dabby','F',150] , '8':['Steve','M',180] , '9':['Jet','M',173] , '10':['Amy','F',156]}
total = 0
for r in range(1,11):
    total = total + dicT[str(r)][2]
print(total/10)

166.9